.contentTbl {
  table-layout: fixed;
  width: 885px;
  margin: {
    right: 0;
    bottom: 10px;
  }
  padding-right: 15px;
  &__td, &__th {
    padding: 18px 10px;
    border: 1px solid #ddd;
    margin: {
      right: -1px;
      bottom: -1px;
    }
  }
  &__th {
    border-bottom: {
      width: 2px;
    }
    box-sizing: border-box;
  }
  &__link {
    color: #02A0D2;
    &:hover {
      text: {
        decoration: none;
      }
    }
  }
  &__td {
    white-space: nowrap;
  }
  &__index {
    text-align: right;
  }
  &__thead {
    .contentTbl {
      &__tr {
        font: {
          weight: 600;
        }
        color: #858585;
        background: linear-gradient(#f8f8f8, #ececec);
      }
    }
  }
  &__tbody:hover {
    .contentTbl {
      &__tr:hover {
        background: {
          color: #EFF4F7;
        }
      }
    }
  }
}
.cell {
  &-sm {
    width: 7.2%;
  }
  &-md {
    width: 10.4%;
  }
  &-lg {
    width: 30.1%;
  }
  &-xl {
    width: 41.9%;
  }
}
.js {
  &-bg {
    &__grey {
      background: {
        color: #f9f9f9;
      }
    }
    &__white {
      background: {
        color: #fff;
      }
    }
  }
}